.SearchForm {
  margin: 18px auto;
  padding: 25px 0px 25px 0px;
  border: 2px solid #F4E59A;
}

.WordSearch{
  width: 90%;
  padding: 3px 0px 3px 5px;
  margin: 0px 0px 0px 70px;
}

.SearchButton{
  width: 25%;
  padding: 3px 0px 3px 0px;
  margin: 0px 0px 0px -120px;
}